@import-normalize;

@import "./container";
@import "./mixin";
@import "./fonts";
@import "./colors";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
code {
  font-family: "e-Ukraine-Regular";
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 22px;
  font-weight: 500;
  color: $default-white;

  @include for-size(laptop) {
    font-size: 25px;
  }
  @include for-size(desktop) {
    font-size: 30px;
  }
}

h2 {
  font-size: 22px;
  font-weight: 400;
  @include for-size(tablet) {
    font-size: 24px;
  }
  @include for-size(laptop) {
    font-size: 26px;
  }
  @include for-size(desktop) {
    font-size: 28px;
  }
}

p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  color: $default-white;

  @include for-size(laptop) {
    font-size: 14px;
  }
  @include for-size(desktop) {
    font-size: 16px;
  }
}

span {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;

  @include for-size(laptop) {
    font-size: 15px;
  }
  @include for-size(desktop) {
    font-size: 20px;
  }
  @include for-size(desktop) {
    font-size: 17px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}
