@import "@/style/mixin";
@import "@/style/container";
@import "@/style/fonts";
@import "@/style/colors";

.newsContainer{
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    
}
.h2{
    text-align: center;
    margin-bottom: 50px;
}
.allNews{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}
.news{
    @include for-size(phone){
        width:88%;
        margin-left: auto;
    }
    
    @include for-size(tablet){
        width:90%;
        margin-left: 10px;
        margin-left: auto;
    }
    @include for-size(laptop){
        width:100%;
        margin-left: 10px;
    }
    @include for-size(desktop){
        width:380px;
        margin-left: 10px;
    }
    margin-bottom: 10px;
    &__image{
        border: 0px;
        border-radius: 15%;
        margin-bottom: 20px;
        @include for-size(phone){
            width:290px;
            height: 156px;
        }
        
        @include for-size(tablet){
            width:320px;
            height: 173px;
        }
        @include for-size(laptop){
            width:350px;
            height: 189px;
        }
        @include for-size(desktop){
            width:380px;
            height: 205px;
        }
    }

    

}
.span{
    font-size: 24px;
    color: rgb(105,105,105);
    margin-top: 20px;
    @include for-size(phone){
        font-size:18px
    }
    
    @include for-size(tablet){
        font-size:20px
    }
    @include for-size(laptop){
        font-size:22px
    }
    @include for-size(desktop){
        font-size:24px
    }
}
.h3{
    margin-top: 20px;
    width: 380px;
    
}
.link{
    color: $default-blue;
    font-weight: normal;
    text-align: center;
    margin-top: 70px;
    @include for-size(phone){
        font-size:18px
    }
    
    @include for-size(tablet){
        font-size:20px
    }
    @include for-size(laptop){
        font-size:22px
    }
    @include for-size(desktop){
        font-size:24px
    }
}
.alink{
    text-decoration: none;
    color: black;
}