@import "@/style/mixin";
@import "@/style/container";
@import "@/style/fonts";
@import "@/style/colors";

.registration_section {
  width: 100%;

  &__title {
    color: $default-blue;
    text-align: center;
    margin-bottom: 26px;

    @include for-size(tablet) {
      text-align: start;
      margin-bottom: 34px;
    }
    @include for-size(laptop) {
      margin-bottom: 38px;
    }
    @include for-size(desktop) {
      margin-bottom: 40px;
    }
  }

  &__placeholder {
    margin: 0 auto;
    max-width: 233px;

    @include for-size(tablet) {
      max-width: 320px;
    }
    @include for-size(laptop) {
      max-width: 340px;
    }
    @include for-size(desktop) {
      max-width: 380px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;

  &__bottom_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__btn {
    border: none;
    background-color: $default-blue;
    color: $default-white;
    width: 90%;
    padding: 14px 0;
    border-radius: 10px;
    font-size: 12px;

    @include for-size(tablet) {
      font-size: 14px;
    }
    @include for-size(laptop) {
      font-size: 16px;
    }
    @include for-size(desktop) {
      font-size: 18px;
      padding: 15px 0;
    }
  }

  &__title {
    color: $default-blue;
  }

  &__link {
    text-decoration-line: underline;
  }
}
