@import "@/style/mixin";
@import "@/style/container";
@import "@/style/fonts";
@import "@/style/colors";

.news {
  width: 100%;
  height: auto;
  padding: 100px 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

    @include for-size(tablet) {
      gap: 60px;
    }
  }

  &__title {
    color: $default-black;
  }

  &__card_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include for-size(tablet) {
      flex-direction: row;
      gap: 20px;
    }
    @include for-size(laptop) {
      gap: 40px;
    }
    @include for-size(desktop) {
      justify-content: space-between;
    }
  }

  &__link {
    color: $default-blue;
		font-weight: 600;

		&:hover {
			opacity: 0.8;
		}
  }
}
