@import "@/style/mixin";
@import "@/style/container";
@import "@/style/colors";

.box {
  z-index: 1;
  width: 100%;
  height: auto;
  background-color: $default-white;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include for-size(desktop) {
    padding: 30px 40px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__number {
    background-color: $default-blue;
    padding: 10px;
    border-radius: 10px;
  }

  &__text {
    color: $default-gray;
  }
}
