@import "@/style/mixin";
@import "@/style/container";
@import "@/style/fonts";
@import "@/style/colors";

.contact {
  width: 100%;
  background-image: url("../images/home_page/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding: 45px 0;
	@include for-size(tablet) {
		padding: 64px 0;
	}
  

  &__placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
		@include for-size(tablet) {
			gap: 45px;
		}
  }

  &__btn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: $default-white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-size(tablet) {
      width: 250px;
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
		color: $default-blue;

    @include for-size(tablet) {
      font-size: 16px;

    }
    @include for-size(laptop) {
      font-size: 18px;

    }
  }
}
