@import "@/style/mixin";
@import "@/style/container";
@import "@/style/fonts";
@import "@/style/colors";

.footer_container {
  width: 100%;
  background-color: $default-blue;
}

.footer {
  display: flex;
  height: 220px;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;

  @include for-size(tablet) {
    justify-content: space-between;
    flex-direction: column;
    flex-direction: row;
    align-items: stretch;
    height: 189px;
    padding: 20px 0;
  }

  @include for-size(laptop) {
    height: 205px;
    padding: 25px 0;
  }

  @include for-size(desktop) {
    height: 264px;
    padding: 30px 0;
  }

  &__icon {
    width: 16px;
    height: 16px;
    color: $default-white;

    @include for-size(tablet) {
      width: 13px;
      height: 13px;
    }
    @include for-size(laptop) {
      width: 18px;
      height: 18px;
    }
    @include for-size(desktop) {
      width: 24px;
      height: 24px;
    }
  }

  &__logo {
    color: $default-white;
    font-size: 16px;
    font-weight: 600;

    @include for-size(tablet) {
      font-size: 18px;
    }

    @include for-size(laptop) {
      font-size: 22px;
    }

    @include for-size(desktop) {
      font-size: 24px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include for-size(tablet) {
      flex-direction: row;
      gap: 110px;
    }
  }

  &__box_first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    @include for-size(tablet) {
      width: 61%;
      gap: 0;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 30px;

      @include for-size(tablet) {
        flex-direction: row;
        gap: 0;
      }
    }
  }

  &__copyright {
    color: #fff;

    @include for-size(tablet) {
      max-width: 226px;
    }
    @include for-size(laptop) {
      max-width: 286px;
    }
    @include for-size(desktop) {
      max-width: 306px;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    @include for-size(tablet) {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__link {
    color: $default-white;
    font-weight: 300;
    font-size: 12px;
    @include for-size(laptop) {
      font-size: 15px;
    }
    @include for-size(desktop) {
      font-size: 20px;
    }

    &:hover {
      opacity: 0.85;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;

    @include for-size(tablet) {
      justify-content: space-between;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 17px;

      @include for-size(tablet) {
        gap: 14px;
      }
    }

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 9px;

      @include for-size(tablet) {
        gap: 7px;
      }
      @include for-size(laptop) {
        gap: 11px;
      }
      @include for-size(desktop) {
        gap: 14px;
      }
    }

    &__mail {
      color: $default-white;
      font-size: 11.5px !important;
      @include for-size(laptop) {
        font-size: 15px !important;
      }
      @include for-size(desktop) {
        font-size: 20px !important;
      }
    }

    &__btn {
      background-color: $default-white;
      color: $default-blue;
      padding: 8px 18px;
      border-radius: 8px;
      border: none;
      font-weight: 600;

      @include for-size(tablet) {
        padding: 15px 23px;
      }
      @include for-size(laptop) {
        padding: 15px 25px;
        font-size: 16px;
      }
      @include for-size(desktop) {
        padding: 14px 40px;
        font-size: 18px;
      }

      &__text {
        font-size: 11.5px !important;
        @include for-size(tablet) {
        }
        @include for-size(laptop) {
          font-size: 15px !important;
        }

        @include for-size(desktop) {
          font-size: 20px !important;
        }
      }
    }
  }
}
