@import "@/style/mixin";
@import "@/style/container";
@import "@/style/fonts";
@import "@/style/colors";

//DESKTOP

.header_container {
  width: 100%;
  height: 100px;
}

.placeholder {
  width: 100%;
  background-color: $default-blue;
  height: 100%;
  // height: 100px;
  z-index: 10;
}

.placeholder_up {
  width: 100%;
  background-color: $default-white;
  height: 30px;
}

.help {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 5px;
  @include for-size(tablet) {
    justify-content: end;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "e-Ukraine-Regular";
    font-size: 15px;
    color: $default-blue;
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: $default-blue;
  }

  &__line {
    width: 1px;
    height: 19px;
    background-color: $default-blue;
  }
}

.navigation {
  padding: 21px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 18px;
    font-weight: 600;
    color: $default-white;
  }

  &__list {
    display: none;

    @include for-size(tablet) {
      display: flex;
      align-items: center;
      gap: 35px;
    }
    @include for-size(desktop) {
      gap: 40px;
    }
  }

  &__item {
    transform: perspective(1px) translateZ(0);
  }

  &__link {
    font-size: 15px;
    color: $default-white;

    &:hover {
      border: 1px solid $default-white;
      border-radius: 20px;
      padding: 4px 5px;
    }
  }

  &__btn_burger {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
    color: #fff;
    @include for-size(tablet) {
      display: none;
    }

    &__icon {
      width: 25px;
      height: 25px;
      color: #fff;
      position: relative;
    }
  }

  &__active {
    border: 1px solid $default-white;
    border-radius: 20px;
    padding: 4px 5px;
    background-color: $default-white;
    color: $default-blue;
  }

  &__default {
    color: $default-white;
  }
}

//Mobile
.modal {
  padding: 25px 0 0 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $default-blue;

  @include for-size(tablet) {
    display: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    display: flex;
    justify-content: end;
  }

  &__navigation {
    display: flex;
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }

  &__item {
    padding: 14px 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    font-size: 15px;
    color: $default-white;
    &:active {
      color: #d9d9d9;
    }
  }
}

.scrolling {
  overflow: hidden;
}
