@import "@/style/mixin";
@import "@/style/colors";

.boxed {
  width: 100%;
  height: 100%;
  position: relative;

  &__icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    color: $default-gray;
    cursor: pointer;

    @include for-size(tablet) {
      width: 18px;
      height: 18px;
    }

    @include for-size(laptop) {
      width: 22px;
      height: 22px;
    }
    @include for-size(desktop) {
      width: 24px;
      height: 24px;
    }
  }
}

.boxed input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12px;
  padding: 4px 5px;
  outline: transparent;
  border-radius: 0;
  border-bottom: 2px solid silver;
  

  @include for-size(tablet) {
    font-size: 14px;
  }
  @include for-size(laptop) {
    font-size: 16px;
  }
  @include for-size(desktop) {
    font-size: 18px;
  }
}

.boxed label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: $default-gray;
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 12px;
  padding: 0 5px;

  @include for-size(tablet) {
    font-size: 14px;
  }
  @include for-size(laptop) {
    font-size: 16px;
  }
  @include for-size(desktop) {
    font-size: 18px;
  }
}

.boxed input:focus ~ label,
.boxed input:valid ~ label {
  transform: translateY(-15px);
  font-size: 12px;

  @include for-size(tablet) {
    font-size: 14px;
    transform: translateY(-20px);
  }
}

.input:focus {
  border-radius: 0;
  border-bottom: 2px solid $default-blue;
}

.error_massages {
  font-size: 10px;
  color: $error-color;
  position: absolute;

  @include for-size(tablet) {
    padding: 5px 0;
    font-size: 12px;
  }
}

.errors {
  border-radius: 0;
  border-bottom: 2px solid $error-color !important;
}