@import "@/style/colors";

.viewport {
	width: 100%;
	height: auto;
	padding-bottom: 40px;
}

.indicators {
	gap: 10px;
}

.indicator {
	border-radius: 20px;
	background-color: $default-white;
	border: none;
	width: 20px;
	height: 7px;
	border: 0.75px solid $default-black;

	&[data-active] {
		background-color: $default-blue;
	}
}

.container {
	width: 100%;
	height: auto;
	gap: 21px;
	padding-left: 22px;
}
