@import "@/style/colors";

.viewport {
	width: 100%;
	height: auto;
	padding-bottom: 40px;
}

.indicator {
	position: relative;
	background-color: $default-gray;
	border: none;
	width: 15%;
	height: 7px;


	&:first-of-type {
		border-radius: 100px 0 0 100px;
	}

	&:last-of-type {
		border-radius:  0 100px 100px 0;
	}
	
	&:nth-of-type() {
		background-color: #A7CAF0;
	}

	&[data-active] {
		background-color: $default-blue;
		border: none;
	}
}

.container {
	width: 100%;
	height: auto;
	gap: 21px;
	padding-left: 22px;
}
