@import "@/style/mixin";

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  margin-top: 55px;
  @include for-size(tablet) {
    margin-top: 89px;
  }
  @include for-size(laptop) {
    margin-top: 95px;
  }
}
