@import "@/style/mixin";
@import "@/style/container";
@import "@/style/fonts";
@import "@/style/colors";

.donate {
  width: 100%;
  background-color: $default-blue;
  padding: 70px 0;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include for-size(tablet) {
      height: 380px;
      gap: 50px;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: stretch;
    }
    @include for-size(desktop) {
      height: 400px;
    }
  }

  &__images_container {
    width: 100%;
    height: 300px;
    @include for-size(tablet) {
      width: 400px;
      height: auto;
    }
  }

  &__images {
    width: 100%;
    height: 100%;
    background-image: url("../../images/home_page/donate_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include for-size(tablet) {
      align-items: start;
      gap: 0;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      @include for-size(tablet) {
        gap: 30px;
        align-items: start;
      }
    }
  }

  &__text {
    text-align: center;
    flex-wrap: wrap;

    @include for-size(tablet) {
      text-align: start;
      max-width: 400px;
    }
    @include for-size(laptop) {
      max-width: 490px;
    }
    @include for-size(desktop) {
      max-width: 550px;
    }
  }

  &__btn {
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background-color: $default-white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-size(tablet) {
      width: 200px;
      height: 45px;
    }

    @include for-size(desktop) {
    }

    &__link {
      font-size: 12px;
      font-weight: 600;

      @include for-size(tablet) {
        font-size: 15px;
      }
      @include for-size(laptop) {
        font-size: 18px;
      }
    }
  }
}
